<nav>
  <div class="nav-wrapper">
    <ul class="left hide-on-med-and-down">
      <li><a href=/# >back</a></li>
    </ul>
    <a href="#" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="missions.html">Missions</a></li>
      <li><a href="people.html">People</a></li>
      <li><a href="teams.html">Teams</a></li>

    </ul>
  </div>
</nav>
<body>
  <div class="container">


    <h1>Listing teams</h1>

    <table>
      <tr>
        <td>Name</td>
      </tr>

      <% @team.each do |team| %>
          <tr>
            <td><%=team.name%></mission.title></td>
            <td><%= link_to 'show',team_path(team) %></td>
            <td><%= link_to 'edit',edit_team_path(team) %> </td>
            <td><%= link_to 'destroy',team_path(team),
                            method: :delete,
                            data: { confirm: 'Are you sure?'} %> </td>

          </tr>
      <%end%>
    </table>
    <a class="waves-effect waves-light btn" href="teams/new.html">New team</a>
  </div>
</body>