<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/missions.html">Missions</a></li>
      <li><a href="/people.html">People</a></li>
      <li><a href="/teams.html">Teams</a></li>

    </ul>
  </div>
</nav>

<body>
<div class="container">
  <h1>Edit mission</h1>

  <%= render 'form'%>
  <%= link_to 'Back', missions_path %>

</div>
</body>
